.jobs {
    margin: 6rem 0 4rem 0;
}

.jobs_team {
    text-align: center;
}

.jobs_team span {
    color: var(--main-color);
    text-align: center;
    font-size: 0.875rem;
    font-weight: var(--font-medium);
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background: rgba(142, 36, 36, 0.05);
}

.jobs_team h2 {
    color: var(--title-color);
    font-size: 2.25rem;
    font-weight: var(--font-semi-bold);
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
    padding: 1rem 0rem 1.25rem 0rem;
}

.jobs_team p {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    line-height: 1.875rem;
}

.jobs_team img {
    width: 86%;
    height: 20%;
    margin: 4rem 7rem;
}

.container_jobs {
    margin: 0rem 5rem;
    padding: 0rem 20rem;
}

.container_jobs h3 {
    color: var(--title-color);
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    line-height: 1.875rem;
}

.container_jobs h4 {
    color: var(--title-color);
    font-size: 1.125rem;
    font-weight: var(--font-medium);
    line-height: 1.75rem;
    padding-bottom: 2rem;
}

.container_jobs span {
    color: var(--text-color);
    font-weight: var(--font-medium);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background: rgba(142, 36, 36, 0.05);
}

.container_jobs span:last-child {
    margin-left: 1rem;
}

.design_jobs article {
    width: 45rem;
    height: 5.25rem;
    border-radius: 1rem;
    border: 1px solid var(--border-jobs);
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    text-align: start;
}

.design_jobs article:first-of-type {
    margin: 2rem 0rem 1.5rem 0rem;
}

/* Seção Desenvolvimento de Software */